#video {
    position: fixed;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
    pointer-events: none;
}

* {
    overscroll-behavior: none;
    overflow: hidden;
}

canvas {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#secret {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 0.5em;
    color: rgb(0, 255, 0);
    font-family: monospace;
    background: black;
    width: calc(100% - 20px);
    border: 0;
    padding: 10px;
    box-sizing: border-box;
}

#secret::after {
    content: "";
    width: 8px;
    height: 20px;
    background: red;
    display: inline-block;
    opacity: 1;
}

.hint {
    position: absolute;
    top: 0;
    padding: 1em;
    color: white;
    font-family: monospace;
    text-shadow: 1px 1px black;
}

#secret::placeholder,
#secret::-webkit-input-placeholder {
    color: rgb(0, 132, 0);
}